.backupImage{
    float: right;
    max-height: auto;
    width: 20vw;
}

.imgToBig {
    width: 80%;
    height: auto;
}

.heightToBig {
    height: 30%;
    width: auto;
}

.mt-20 {
    margin-top: 20px
}

ul {
    font-size: 25px;
}

li {
    list-style-type: none;
    margin-bottom: 20px;
}

.red {
    color: red;
}

.warning {
    color: yellow;
}