.backupImage{
    float: right;
    max-height: auto;
    width: 20vw;
}

.imgToBig {
    height: 80%;
    width: auto;
}

.half {
    width: 45vw;
    height: auto;
}

ul {
    font-size: 25px;
}

li {
    list-style-type: none;
    margin-bottom: 20px;
}

.red {
    color: red;
}

.warning {
    color: yellow;
}